<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRM RMP'25 Confessions</title>
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}" type="image/icon type">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <section id="main">
        <br><br>
        <img id="srm_logo_confessions" src="{{url_for('static', filename='logo.png')}}" alt="SRM Logo" height="150"><br>
        <a href="{{url_for('index')}}" id="confession-button">Go to Home Page</a><br>
        <h3 id="title-confession">List of Confessions</h3>
        <table>
                {% for confession in confessions %}
                <tr>
                    <td id="confession-self">{{confession[2]}}</td>
                    <td id="confession-date">{{confession[1]}} <br> {{confession[0]}}</td>
                </tr>
                {% endfor %}
        </table>
        <br>
    </section>
</body>
</html>